<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-12 col-sm-9 panel panel-default left-div">
    <%= form_for @user, html: { class: "form-horizontal", role: "form", multipart: true } do |f| %>
      <% if @user.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <label for="user_name", class="col-sm-2 control-label"><%= f.label :name %></label>
        <div class="col-sm-7">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="user_email", class="col-sm-2 control-label"><%= f.label :email %></label>
        <div class="col-sm-7">
          <%= f.text_field :email, disabled: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="user_phone", class="col-sm-2 control-label"><%= f.label :phone %></label>
        <div class="col-sm-4">
          <%= f.text_field :phone, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="user_sns", class="col-sm-2 control-label"><%= f.label :sns_type %></label>
        <div class="col-sm-3">
          <%= f.select :sns_type, options_for_select({"QQ" => 1, "POPO" => 2, "微信" => 3}, 1), {}, class: "form-control" %>
        </div>
        <div class="col-sm-4">
          <%= f.text_field :sns_num, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="user_email", class="col-sm-2 control-label"><%= f.label :address %></label>
        <div class="col-sm-7">
          <%= link_to "添加地址", "#add-address", class: "btn btn-primary", "data-toggle" => "modal"%>
        </div>
      </div>
      <div id="user-address">
        <%= render partial: "addresses/user_address" %>
      </div>
      <div class="form-group">
        <label for="item_picture", class="col-sm-2 control-label"><%= f.label :picture %></label>
        <div class="col-sm-4">
          <%= file_field_tag :picture, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
          <%= f.submit '修改', class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div><!--/span-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to "创建物品", new_item_path, class: "btn btn-primary"%>
      </div>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
    </div>
  </div><!--/span-->
</div><!--/row-->

<div class="modal fade" id="add-address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">添加地址</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/addresses', method: :post, class: "form-horizontal", role: "form", remote: true) do %>
          <%= hidden_field_tag 'address[user_id]', current_user.id %>
          <div class="form-group city-group">
            <label for="item_subject", class="col-sm-2 control-label">地址：</label>
            <div class="col-sm-3">
              <%= select_tag 'province', '<option>--省份--</option>'.html_safe + options_for_select(ChinaCity.list), class: "form-control city-select" %>
            </div>
            <div class="col-sm-3">
              <%= select_tag 'city', '<option>--城市--</option>'.html_safe, class: "form-control city-select" %>
            </div>
            <div class="col-sm-3">
              <%= select_tag 'address[content]', '<option>--地区--</option>'.html_safe, class: "form-control city-select" %>
            </div>
          </div>
          <div class="form-group">
            <label for="item_subject", class="col-sm-2 control-label"></label>
            <div class="col-sm-7">
              <%= text_field_tag 'address[detail]', '', class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-7">
              <%= submit_tag '添 加', class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
